body {
    font-family: Helvetica, Arial, Sans-serif;
    margin: 20px;
}

.version {
    position: absolute;
    top: 0;
    right: 15px;
}

input,
textarea,
div[contenteditable="true"] {
    font-family: Monospace;
    width: 100%;
    border: 2px solid #dadada;
    border-radius: 7px;
    padding: 8px;
}

textarea,
div[contenteditable="true"] {
    height: 150px;
}

input[type="number"] {
    width: 40px;
}

.text-bold {
    font-weight: bold;
}

.text-fade {
    color: #DDD;
    background-color: rgba(0,0,0,0)!important;
}

.text-red {
    color: #dc3545; /* bootstrap text-danger */
}

hr {
    margin: 70px 0;
}

#info {
    max-width: 600px;
}

.hidden {
    display: none;
}

table.shares,
table.shares tr,
table.shares td {
    border-collapse: collapse;
}
table.shares td {
    padding: 20px;
    border: 1px solid #DDD;
    height: 30px;
}
